* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #2e2e2e; /* Dark background */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.form-box {
  background-color: #333333; /* Form background */
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Subtle shadow */
}

input.last_name{
    margin-left: 20px;
}

h2 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.input-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.input-group input {
  width: 48%;
  padding: 10px;
  border: 1px solid #555;
  border-radius: 4px;
  margin-bottom: 15px;
  background-color: #444;
  color: #fff;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #555;
  border-radius: 4px;
  margin-bottom: 15px;
  background-color: #444;
  color: #fff;
}

button {
  padding: 12px;
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #555;
}

.info-text {
  color: #ccc;
  font-size: 12px;
  margin-top: 15px;
}

.info-text a {
  color: #999;
  text-decoration: none;
}

.info-text a:hover {
  text-decoration: underline;
}

.login-link {
  text-align: center;
  margin-top: 20px;
}

.login-link p {
  color: #ccc;
  font-size: 14px;
}

.login-link a {
  color: #999;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}
